# Starter Notebook for the recap #

Use this Notebook to get started on the bol.com recap exercise.

In [1]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression #remember, this is the linear regression model from sk-learn
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("bol_sales.csv")
df.head()

,id,gender,income,distance_center,website_visits,pages_viewed,time_social_media,spent_bol
0,person_1,female,7065,4.6,30,105,117,1232
1,person_2,female,23028,9.8,23,81,70,1396
2,person_3,female,103377,9.2,11,38,94,1240
3,person_4,female,9815,3.2,16,54,124,720
4,person_5,female,22646,10.1,21,78,119,1379

## Exploratory data analysis ##

Do your exploratory data analysis to determine what variables you want to use and how.

## Variable transformations ##

Do your variable transformations here.

## Building the model ##

Build your model here. **Call it *lm*.**

## Evaluating the model ##

Evaluate your model here, on the data that you were given (training data). This code can be ran multiple times with different models, if you want, to determine the best model (but beware of overfitting!).

Use RMSE as your metric.

## Evaluating the model on the hold-out test set ##

This can only be done when the lecturer uploades the hold-out data. Upload this file in the same directory as this Notebook. Uncomment the code and make it work. The RMSE is your entry for the prize! ;-)

In [6]:
#df_ho = pd.read_csv('bol_sales_holdout.csv') #reading the hold-out data

#put any variable transformations that you want to do here

#X_ho = df_ho[[]] adapt to select X variables

#y_pred_ho = lm.predict(X_ho) #predicting the hold-out data, using your model
#math.sqrt(mean_squared_error(df_ho['spent_bol'],y_pred_ho)) #get the RMSE on the hold-out data